.app-container {
  display: flex;
  height: 100vh;
}

.header, .sidebar {
  position: fixed;
}

.header {
  width: 100%;
  top: 0;
  z-index: 1000;
}

.sidebar {
  top: 50px;
  width: 200px;
  bottom: 0;
  overflow-y: auto;
}

.content {
  margin-left: 200px;
  padding: 20px;
  padding-top: 60px;  
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
}

label, select, button {
  margin-top: 10px;
}
